#header{
	padding: 0;
	overflow: hidden;
}

#header h1{
	margin: 0;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #fff;
	font-size: 22px;
	background-image: none;
}

#header ul{
	float: left;
	margin: 10px 20px;
	list-style-type: none;
}

#header ul li{
	display: inline;
	margin-left: 0;
}

#header ul li a{
	color: #fff;
}

#header dl{
	float: right;
	width: auto;
	margin: 10px 20px;
	line-height: 100%;
}

#header dl dt, #header dl dd{
	display: inline;
	background-color: transparent;
	margin: 0;
}

#header dl dd{
	margin-right: 20px;
}

#header dl a{
	color: #fff;
}

div.actions h3 {
	margin-top: 0;
}

#content{
	padding: 10px 2% 40px 2%;
}

legend {
	border-bottom: 0;
	margin-bottom: 0;
}

.index.noactions, .form.noactions{
	width: 96%;
	border-left: 0;
}

.messages td a, .messages table td.actions a{
	font-weight: normal;
	color: #333333;
}

.messages .unread td, .messages .unread td a{
	font-weight: bold;
}

.messages .important td, .messages .important td a{
	color: #FF0000;
}

table tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #FFFFFF;
}

table.cke_editor tr:nth-child(2n+1) {
	background-color: transparent;
}

form .cke_editor div{
	clear: none;
}

form .file a{
	display: inline-block;
	margin-top: 10px;
}

form .file img, .preview img, .uploader-file img {
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
}

form .required label {
	font-weight: bold;
}

.index img, .related img {
	max-width: 200px;
	max-height: 100px;
}

.related div.actions {
	padding: 0;
}

.input.uploader {
	border-bottom: 1px solid #ccc;
}
